@charset "UTF-8";

:root{
    --nav-purple: #612674;
}

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oxygen', arial;
}

.top-nav{
    background: var(--nav-purple);
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}