@charset "UTF-8";

:root{
    --nav-purple: #521a66;
    --nav-purple-title: #612674;
    --nav-lightpurple: #a87bb7;
    --nav-white: #fff;
    --nav-lightgrey: #ddd;
    --nav-ice: #f0f0f0;
    --nav-lightblue: #0096ff;
    --nav-darkblue: #25303e;
    --nav-darkgrey: #83969f;
    --nav-darkblue-opac: #303d4c;
}

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oxygen', arial;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{
    background: var(--nav-purple);
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.top-nav a{
    color: var(--nav-white);
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    background: var(--nav-lightpurple);
}

.top-content{
    padding: 1em;
    text-align: center;
    background: var(--nav-lightgrey);
}

.top-content-title{
    color: var(--nav-purple-title);
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle{
    color: var(--nav-lightpurple);
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: .3em;
}

.btn{
    display: inline-block;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    padding: .9em 2.5em;
}

.efeito{
    border: none;
    color: var(--nav-white);
    margin: .5em;
    font-size: 1em;
    line-height: 2.2em;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1{
    background-color: var(--nav-lightblue);
}

.efeito-1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 64px;
    background: rgba(255,255,255,0.3);
    border-radius: 6.8px;
    transition: all .8s ease;
}

.efeito-1:hover:before{
    width: 100%;
}

.middle-content{
    padding: 1em;
    background: var(--nav-ice);
    text-align: center;
    margin-bottom: 2em;
}

.middle-content-title{
    font-size: 1.2em;
    color: var(--nav-purple-title);
    text-transform: uppercase;
    margin-bottom: 0;
}

.middle-content p{
    color: var(--nav-lightpurple);
    line-height: 1.5em;
    margin-top: 0;
}

.middle-content span[class^=icon]{
    font-size: 4em;
    color: var(--nav-purple);
}

.main-content{
    padding: 2em;
}

.main-content p{
    line-height: 1.2;
}

.main-content-article{
    margin-bottom: 2em;
}

.main-content-title{
    font-size: 1.25em;
    letter-spacing: .1em;
    color: var(--nav-purple-title);
    text-transform: uppercase;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background: var(--nav-darkblue);
    color: var(--nav-darkgrey); 
    text-align: center;
    padding-bottom: .5em;
    margin-top: 0;
}

.footer-menushare{
    background: var(--nav-darkblue-opac);
    padding: .5em;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: var(--nav-white);
}

@media screen and (min-width: 48.75em){
    .top-header-logo{
        float: left;
    }
    .top-nav{
        background: transparent;
        float: right;
    }
    .top-nav ul{
        margin: 0;
        padding: 0;
        
    }
    .top-content{
        background: var(--nav-purple);
        color: var(--nav-white);
    }
    .top-content-title, .top-content-subtitle{
        color: var(--nav-white);
    }
}