@charset "UTF-8";

:root{
    --nav-purple: #521a66;
    --nav-purple-title: #612674;
    --nav-lightpurple: #a87bb7;
    --nav-white: #fff;
    --nav-lightgrey: #ddd;
    --nav-ice: #f0f0f0;
    --nav-lightblue: #0096ff;
    --nav-darkblue: #25303e;
    --nav-darkgrey: #83969f;
    --nav-darkblue-opac: #303d4c;
}

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oxygen', arial;
}

.clearfix:after, .row:after, .btn:after{
    content: ' ';
    display: block;
    clear: both;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{
    background: var(--nav-purple);
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.top-nav a{
    color: var(--nav-white);
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    background: var(--nav-lightpurple);
}

.top-content{
    padding: 1em;
    text-align: center;
    background: var(--nav-lightgrey);
}

.top-content-title{
    color: var(--nav-purple-title);
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle{
    color: var(--nav-lightpurple);
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: .3em;
}

.maxwidth{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    background: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.button:hover{
    background: #37a0a0;
}

.icon-play{
    height: 5em;
    display: none;
}

.icon-play img{
    max-width: 100%;
    max-height: 100%;
}
.middle-content{
    padding: 1em;
    background: var(--nav-ice);
    text-align: center;
    margin-bottom: 2em;
    overflow: hidden;
}

.middle-content-title{
    font-size: 1.2em;
    color: var(--nav-purple-title);
    text-transform: uppercase;
    margin-bottom: 0;
}

.middle-content p{
    color: var(--nav-lightpurple);
    line-height: 1.5em;
    margin-top: 0;
}

.middle-content span[class^=icon]{
    font-size: 4em;
    color: var(--nav-purple);
}

.main-content{
    padding: 2em;
    overflow: hidden;
}

.main-content p{
    line-height: 1.2;
}

.main-content-article{
    margin-bottom: 2em;
}

.main-content-title{
    font-size: 1.25em;
    letter-spacing: .1em;
    color: var(--nav-purple-title);
    text-transform: uppercase;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background: var(--nav-darkblue);
    color: var(--nav-darkgrey); 
    text-align: center;
    padding-bottom: .5em;
    margin-top: 0;
}

.footer-menushare{
    background: var(--nav-darkblue-opac);
    padding: .5em;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: var(--nav-white);
}

@media screen and (min-width: 48.75em){
    .top-header-logo{
        float: left;
    }
    .icon-play{
        display: block;
    }
    .top-nav{
        background: transparent;
        float: right;
        margin-top: 30px;
    }
    .top-nav ul{
        margin: 0;
        padding: 0;
    }
    .top-nav li{
        display: inline-block;
    }
    .top-nav a{
        color: var(--nav-purple-title);
        margin-top: 15px;
        transition: all .2s ease;
    }
    .top-nav a:hover{
        background: transparent;
        font-weight: bold;
        transition: all .2s ease;
    }
    .btn-1{
        transform: translateX(280px);
    }
    .top-content{
        background: var(--nav-purple);
        color: var(--nav-white);
    }
    .top-content-title, .top-content-subtitle{
        color: var(--nav-white);
    }
    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }
    .main-content-article, .btn{
        float: left;
    }
}

@media screen and (min-width:62.5em)/*1000px*/{
    .top-content{
       /* background-color: #521a66;
        background-image: url(../images/bg_topo_1198x670.jpg);*/
        background: #521a66 url(../images/bg_topo_1198x670.jpg);
        background-position: center bottom;
        height: 20em;
        padding-top: 17em;
    }
}

@media screen and (min-width: 74em)/*1024px*/{
    .top-content{
        background: url(../images/bg_topo_1600x1374.jpg);
        padding: 19em 20em 10em;
        background-position: center top;
    }
    .icon-play{
        height: 7em;
    }
    .btn-1{
        transform: translateX(260px);
    }
    .col-1-4{
        width: 23%;
        margin: 1%;
    }
    .col-1-2{
        width: 48%;
        margin: 1%;
        float: left;
    }
}